@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 80vh;
}

header {
  box-shadow: 10px 5px 5px gray;
}

header div {
  background-color: #1cd1b0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
}

h1 {
  background-color: #00669f;
  padding: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.card {
  text-align: center;
  background-color: #f3f3f3;
  max-width: 300px;
  padding-bottom: 15px;
  position: relative;
  border-radius: 15px;
  font-weight: 300;
}

img {
  width: 100%;
}

.card p {
  padding: 16px;
  text-align: left;
}

.card h2 {
  padding-top: 70px;
}

/* card:not(:first-child) */

.card button {
  border: none;
  background-color: #00669f;
  color: white;
  padding: 15px 22px;
}

.card .profile__photo {
  position: absolute;
  top: 120px;
  left: 90px;
  width: 120px;
  border-radius: 50%;
}

footer {
  background-color: #00669f;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: auto;
}
