header {
  background-color: #e6e6e6;
  text-align: center;
  margin-bottom: 128px;
}

h1 {
  background-color: #c4c4c4;
  text-transform: uppercase;
  color: #005677;
  padding: 5px;
  letter-spacing: 0.4rem;
  font-weight: 100;
}

h3 {
  background-color: #c4c4c4;
  text-transform: uppercase;
  color: #005677;
  padding: 4px;
  padding-left: 20px;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

ul.datos li{
  list-style-type: disc;
  margin-bottom: 7px;
}

ul.fechas li {
  display: flex;
  margin-bottom: 5px;
}

ul.anidada li {
  margin-left: -35px;
}

footer {
  margin-top: 128px;
  background-color: #005677;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
 footer i {
  padding-top: 10px;
  padding-left: 5px;
 }