@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 6.5em 3em;
  gap: 3.5em;
}

header {
  box-shadow: 10px 5px 5px gray;
}

header div {
  background-color: #D1891C;
  padding:4px 28px;
}

h1 {
  background-color: #00669f;
  padding: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

.card, .card__hidden {
  text-align: center;
  background-color: #f3f3f3;
  max-width: 300px;
  padding-bottom: 15px;
  position: relative;
  font-weight: 300;
}

.img__cover {
  border-top-left-radius : 15px;
  border-top-right-radius : 15px;
}

img {
  width: 100%;
}

.corazon {
  width: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.buttom__mas {
  width:40px;
  height: 40px;
  background-color: #00669f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  right: 1em;
  top: 52em;
}

.buttom__mas i {
  color: white;
}

.card p, .card__hidden p {
  padding: 16px;
  text-align: left;
}

.card h2, .card__hidden h2 {
  padding-top: 70px;
}

.card button, .card__hidden button {
  border: none;
  background-color: #00669f;
  color: white;
  padding: 15px 22px;
}

.profile__photo {
  position: absolute;
  top: 120px;
  left: 90px;
  width: 120px;
  border-radius: 50%;
}

footer {
  background-color: #00669f;
  width: 100%;
  color: white;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  width: 80vw;
  text-align: center;
  font-size: small;
  white-space: nowrap;
}

.github {
  width: 7em;
}

@media(max-width: 770px){
  .card__hidden {
    display: none;
  }
}